*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clr{
    clear: both;
}
a{
    text-decoration-line: none;
    color: white;
 
}

.container{
    width: 80%;
  margin: auto;
}
.navbar{
    
    background-color: rgb(12, 1, 1);

}

.list{
    float: right;
   
}
.logo{
    float: left;
}
.logo img{
    width:50%;
}
.list ul  li{
    float: left;
    margin-right: 10px;
    list-style-type: none;
    text-transform: uppercase;
    
}
.produats{
    text-align: center;
    margin-top: 10px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aqua;
padding: 10px;
}
.produat{
    float: left;
   width: 33.33%;

   
 
}
.produat img{
    display: block;
    width: 98%;
   
    

}
   